
    <body>
    
        <div class="row">
            <% RERS.forEach( function(model,i) { %>
            <div class="card col-12 col-lg-6 col-sm-12">
                <a class="font-weight-bold " style="font-size:30px;margin-left:20px" href="/RERS/detail/<%= model.id%>">
                    <%= model.pptt %></a>
                <div class="row">
                    <div style="margin-right: 40px; margin-left:40px;margin-bottom:10px"><img width="150" height="170"
                            src="<%= model.url %>" object-fit:cover></div>
                    <div>
                        <table class="table table-bordered" style="width:400px">
                            <tr>
                                <td><label class="font-weight-bold">Estate:</label><%=model.est%></td>
                            </tr>
                            <tr>
                                <td><label class="font-weight-bold">Gross Area:</label><%=model.gro%>
                                    sq feet</td>
                            </tr>
                            <tr>
                                <td><label class="font-weight-bold">Rent:</label>$<%=model.rent%></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <% }); %>
        </div>
    </body>